/* site wide */

/* header wrapper. distance from top of screen to bottom of main menu / header */
.hdrwrpr 
{
  height: 187px;
  position: relative;
  width: 996px;
  z-index: 100;
}

/* secondary menu. distance from top of screen to top of menu */
.hdrupdtwrpr
{
  top: 50px;
}

/* site name */
.hdrttl
{
  visibility: hidden;
}

/* american flag */
.hdrflag
{
  visibility: hidden;
}

ul#topnav 
{
  
}

.mainbody
{
  background: #FAFAFA url(images/bg-main-new.png) no-repeat scroll center top;
}

.ftrwrpr
{
  background: #FFFFFF url(images/bg-footer.jpg) no-repeat scroll left top;
}

/** Primary menu items: Set individual widths by id **/ 
  /* e.g.
  #topnav li#issues
  { 
  }
  // */

/** Secondary menu items */
#secondary a
{
  color: black;
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
}

/* blocks */
h3.modttlred
{
  border-bottom: 8px solid black;
  color: black;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
}

h3.modhdgblue a, h3.modhdgblue a:link, h3.modhdgblue a:visited
{
  color: #596a7a;  
}

/* recent posts */
.view-id-recent_posts .dateln
{
  color: black;
  font-family: arial;
  font-size: 10px;
  text-transform: uppercase;
}

/* front page main */
  /* title */
  .view-front-page-main h2
  {
    visibility: hidden;  
  }
  /* text */
  .view-front-page-main .content 
  {
    font-family: garmond; font-size: 18px; line-height: 30px;
  }

/* front page slideshow, slideshow_panoramic_4 */
#block-views-slideshow_panoramic_4-block_4
{
  border-bottom: 8px solid black;
}
#block-views-slideshow_panoramic_4-block_4 .block-inner
{
margin-bottom: 20px;
}

  /* footer */
  #footer
  {
    border-top: 8px solid black;
    padding-top:20px;
  }
  /* hide footer breadcrumb area */
  .bcrumbwrpr
  {
    display:none;
  }

  /*
  ul.links.inline, 
  ul.links li,
  ul.primary li,
  .navbar ul#topnav li,
  .navbar-inner,
  ul#topnav .primary-links
  */
  div#navbar div#navbar-inner ul#topnav li
  {
    display: list-item;  
  }
